.padding {
  padding: 3% 5%;
  height: 83vh;
}

.explorecard {
  margin-top: 2rem;
  font-size: 1.5rem;
}

.explorebtn {
  margin-top: 0.5rem;
}

.title {
  margin-bottom: 1rem;
}

.grey {
  color: grey;
}
