.spacing {
  padding-top: 2rem;
}
.hero{
background-color:#DCDCDC;
margin: 1.5%;
border-radius: 1rem;
padding-bottom: 1rem;
}

.left {
  text-align: start;
  padding-left: 7%;
  color: slategrey
 
}

.subtitle {
  color: darkolivegreen;

  padding-left: 7%;
  padding-right: 5%;
}

.explore {
  width: 85%;
}

.tablestyle {
  margin: 3% 7%;
}

.padleft {
  padding-left: 7%;
}
.padding {
  margin: 3% 5%;
}



