.spacing {
  padding-top: 2rem;
}

.left {
  text-align: start;
  padding-left: 7%;
  color: grey;
}

.subtitle {
  color: darkolivegreen;

  padding-left: 7%;
  padding-right: 5%;
}

.explore {
  width: 85%;
}

.tablestyle {
  margin: 3% 7%;
}

.padleft {
  padding-left: 7%;
}
